<%= form_for :order, url: populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

        <div class="add-to-cart">
<!--サイズ-->
<span class="quick-drop resizeWidth">
 <div class="cp_ipselect cp_sl01">
        <%= f.select :guiest_id3, [["S", 0], ['M', 1], ['L', 2], ['XL', 3]],class:'select-drop',id:'guiest_id3' %>

                

                 </div>

</span>
<!--個数選択-->
        
                  <span class="quick-drop resizeWidth">
                    
                                                   <!--<%= number_field_tag :quantity, 1, class: 'title', min: 1 %>もともとのやつ-->
                                                   <!--<%= f.select :name, [["1", 1], ['2', 2], ['3', 3]] %>-->
                 <div class="cp_ipselect cp_sl01 select-count">
                     <%= f.select :guiest_id4, [["1", 1], ['2', 2], ['3', 3]],class:'select-drop',id:'guiest_id4' %>

                 </div>
                  </span>
          </div>

    <% if @product.price_for_options(current_pricing_options) and !@product.price.nil? %>
      <div data-hook="product_price" class="columns five <%= !@product.has_variants? ? 'alpha' : 'omega' %>">

        
<!--カートに入れるボタン-->
        <div class="btn-area">
                    <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fas fa-chevron-right" aria-hidden="true"></i></a>
                  </div>
      <!--<%= button_tag class: 'large primary btn btn-primary btn-block', id: 'add-to-cart-button', type: :submit do %>-->
           <!-- <%= t('spree.add_to_cart') %>-->
      <!--<% end %>-->

      </div>
    <% else %>
        <div id="product-price">
          <br>
          <div><span class="price selling" itemprop="price"><%= t('spree.product_not_available_in_this_currency') %></span></div>
        </div>
    <% end %>
  </div>
<% end %>
