

<div class="container">

<!--上 -->

 <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <div class="page-title">
                <h2><%= @product.name %></h2>
                <div class="col-xs-6">
                <ol class="breadcrumb pull-right">
                 <li>
                  <%= link_to 'Home /',spree.root_path%>
                 </li>
                 <li class="active"><%= @product.name %></li>
                </ol>
               </div>
              </div>
            </div>
          </div>
        </div>
 </section>




  
   <section class="mainContent clearfix">
        <div class="container">
          <div class="row singleProduct">
            <div class="col-xs-12">
              <div class="media">

<!--画像左側 -->
                <div class="media-left productSlider">
                  <div id="carousel" class="carousel slide" data-ride="carousel">
                   <%= render partial: 'thumbnails' %>
                   <!--<%= render partial: 'image' %>-->
                  </div>
                 
                </div>






<!--右側文字　カート -->
                <div class="media-body">
                  <ul class="list-inline">
                    <li><a href="product_grid_left_sidebar.html"><i class="fas fa-reply aria-hidden="true"></i>一覧ページへ戻る</a></li>
                  </ul>    
                  <h2 ><%= @product.name %></h2>
                  <h3 class="price selling" itemprop="price" content="<%= @product.price_for_options(current_pricing_options).amount %>">
                   <%= display_price(@product) %>
                  </h3>
                  <p>
                   <%= product_description(@product) rescue t('spree.product_has_no_description') %>
                  </p>
                  
                   <%= render partial: 'cart_form' %>
               
                </div>


              </div>
            </div>
          </div>
        </div>
                                                              <!--関連商品が入る-->


    </section>











<script>
$(function() {
    $('.slider').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: 3000,
        dotsClass: "slide-dots" ,
        customPaging: function(slick,index) {
        // スライダーのインデックス番号に対応した画像のsrcを取得
        var targetImage = slick.$slides.eq(index).find('img').attr('src');
         return '<img src=" ' + targetImage + ' "/>';
        
    }
 
    });
});
</script>







